<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #header-msg {
            font-size: 18px;
            color: coral;
        }
        {% block styles %} {% endblock %}
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Гланая</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review' %}">Отчет</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Домашнее задание</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <form class="form-inline" style="margin-left: 10px;">
                        <div class="input-group" style="margin-left: 10px;">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" value="{{ request.user }}" disabled>
                        </div>
                    </form>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item ml-2">
                        <button class="btn btn-outline-danger btn-sm" type="button">
                            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                        </button>
                    </li>
                {% else %}
                    <li class="nav-item ml-2">
                        <button class="btn btn-outline-success btn-sm" type="button">
                            <a class="nav-link" href="{% url 'login' %}">Войти</a>
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="px-3">
        <div class="container">
        <br />
          {% block content %} {% endblock %}
        </div>
    </main>
</body>
</html>