{% extends 'DZApp/base.html'%}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
{% endblock %}

{% block content %}
    <h1>{{ header }}</h1>

    {% for tab in table_list %}
        {% if tab.index == 2 or tab.index == 4 or tab.index == 5%}

            <div class="card w-75 mx-auto mb-10">
              <div class="card-header">
                {{ tab.name }}
              </div>
              <div class="card-body">
                <h5 class="card-title">Отчет</h5>
                <p class="card-text">{{ tab.description }}</p>
                <a href="{% url 'review_details' tab.index %}" class="btn btn-primary">К отчету</a>
              </div>
            </div>
            <br />
        {% endif %}
    {% endfor %}
{% endblock %}
