{% extends 'main/base.html'%}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
{% endblock %}

{% block content %}
    <h1>Детали: {{ pnen.name }}</h1>
    <p class="card-text">{{ description.description }}</p>
    {% load static %}
    {% if pnen.id == 1 %}
        <img class="center rounded img-fluid" style="max-width: 500px; height: auto;" src="{% static 'main/images/1.jpg' %}" alt="My image">
    {% endif %}
    {% if pnen.id == 2 %}
        <img class="center rounded img-fluid" style="max-width: 500px; height: auto;" src="{% static 'main/images/2.jpg' %}" alt="My image">
    {% endif %}
    {% if pnen.id == 3 %}
        <img class="center rounded img-fluid" style="max-width: 500px; height: auto;" src="{% static 'main/images/3.jpg' %}" alt="My image">
    {% endif %}
    {% if pnen.id == 4 %}
        <img class="center rounded img-fluid" style="max-width: 500px; height: auto;" src="{% static 'main/images/4.jpg' %}" alt="My image">
    {% endif %}
    {% if pnen.id == 5 %}
        <img class="center rounded img-fluid" style="max-width: 500px; height: auto;" src="{% static 'main/images/5.jpg' %}" alt="My image">
    {% endif %}
    {% if pnen.id == 6 %}
        <img class="center rounded img-fluid" style="max-width: 500px; height: auto;" src="{% static 'main/images/6.jpg' %}" alt="My image">
    {% endif %}
{% endblock %}
